p {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.post {
    margin: 0 auto 2rem;
    width: 90%;
    padding: 0 0 .6rem 0;
    border-bottom: 1px solid var(--green);
}

.news-title {
    font-size: 1rem;
    position: relative;
    background: var(--green);
    padding: .4rem 8px;
    box-sizing: border-box;
}

.news-author {
    line-height: 21px;
    margin-bottom: 14px;
    background: var(--light);
    display: inline-block;
    padding: 4px 8px;
}

.post img {
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 2px;
    border: 1px dotted var(--light);
    /* filter: sepia(10); */
}

.read-more {
    margin-top: .3rem;
    display: inline-block;
    padding: 8px 12px;
    background: var(--green);
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

.read-more:hover {
    box-shadow: var(--shadow);
    background: var(--orange);
    opacity: .9;
}

.author {
    font-style: italic;
    font-size: 14px;
    color: silver;
}

@media screen and (min-width: 600px) {
    .post {
        width: 70%;
    }
}